* {
    text-align: center;
    margin: auto;
}

body {
    background: rgb(205, 245, 253);
    background: linear-gradient(90deg, rgba(156, 241, 255, 0.63) 0%, rgb(255, 255, 255) 50%, rgba(255, 152, 152, 0.49) 100%);
}

button {
    background-color: #00A9FF;
    border-radius: 10px;
    border-style: none;
    color: #FFFFFF;
    height: auto;
    width: auto;
    line-height: 20px;
    padding: 10px 16px;
}

button:hover {
    background-color: #89CFF3;
}

/* prevents selection */
#buttons {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}